---
import { getCollection } from "astro:content";

import Card from "./Card.astro";
const { coleccion } = Astro.props;
const lasplayas = await getCollection(`${coleccion}`, ({ data }) => {
  return !data.playadestacada;
});
---

<div class="bandejaCartas bandeja">
  {
    lasplayas.map((playa) => (
      <Card
        titulo={playa.data.titulo}
        extracto={playa.data.extracto}
        permalink={`/playas/${playa.data.slug}/`}
        cta={`ver mas`}
        ima={playa.data.image}
      />
    ))
  }
</div>


<style lang="scss">
  @import "../estilos/_variables.scss";

  .bandejaCartas {
    margin-top: $margen;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    gap: 1rem;
    @include cel {
  display: block;
    }
  }

</style>
