---
import { Image } from "astro:assets";
export interface props {
  titulo: string;
  extracto: string;
  cta: string;
  ligaCta: string;
  href: string;
  video: boolean;
  portada: string;
}
const { titulo, extracto, cta, href, video, portada, ligaCta } = Astro.props;
const images = import.meta.glob("../assets/**/*");
---

<div id="hero" class="bandeja">
  <div class="izq">
    <h1>{titulo}</h1>
    <!-- para poder renderear tag de html set:html dentro del tag sin agregarrlo en el child-->
    <p class="parrafoH" set:html={extracto} />
    {href ? <a href={ligaCta} class="cta" set:html={cta} /> : ""}
    <div class="relativo">
      <slot />
    </div>
  </div>
  <div class="der">
    <!-- <img src={href} alt={titulo} /> -->
    {
      video ? (
        <>
          <video id="video" loop autoplay src={href} />

          <a href="#" id="btn-video">
            <img
              id="play"
              src="./play-icon.svg"
              alt="reproducción de video de ixtapa zihuatanejo"
            />
            <img
              id="pausa"
              src="./pausa.svg"
              alt="pausa de video de ixtapa zihuatanejo"
            />
          </a>
        </>
      ) : (
        <Image src={images[portada]()} alt={titulo} />
      )
    }
  </div>
  <!-- slot para agregar desde la fuente cosas extras -->
</div>

<style lang="scss">
  @import "../estilos/_variables.scss";
  .relativo {
    position: relative;
    width: 100%;
    height: 0px;
  }
  #hero {
    background: $azul;
    padding: $margen;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    min-height: 70vh;
    border-radius: $radio;

    @include cel {
      min-height: 50vw;
      margin-top: 40vh;
      padding: 0;
    }
    @include tableta {
      min-height: 30vw;
      margin-top: 0;
      padding: 0;
    }
  }
  h1 {
    color: #fff;
    margin-bottom: 1rem;
  }
  .parrafoH {
    color: $acento;
    font-size: clamp(1rem, 1.1vw, 3vw);
  }
  p {
    color: #fff;
  }
  .izq {
    flex: 1 0 55%;
    justify-content: center;
    padding: 0 $margen;
    a {
      margin: 1rem 0 0 0;
    }
    @include cel {
      flex: 1 0 100%;
      padding: $margen;
      order: 2;
    }
  }
  .der {
    flex: 1 0 45%;
    video {
      width: 32.5vw;
      height: 93vh;
      object-fit: cover;
      position: absolute;
      top: 0rem;
      border-radius: 0 0 $radio $radio;
    }
    img {
      width: 39vw;
      height: 90vh;
      object-fit: cover;
      position: absolute;
      border-radius: 0 0 $radio $radio;
      top: 0rem;
    }

    @include cel {
      flex: 1 0 100%;
      order: 1;
      video {
        width: 100%;
        height: 60vh;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: -1;
        // margin-top: $margen;
      }
      img {
        width: 100%;
        height: 60vh;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: -1;
      }
    }
    @include tableta_land {
      img {
        width: 36vw;
      }
    }

    @include tableta {
      img {
        width: 36vw;
        height: 40vh;
      }
    }
    @include hdplus {
      img {
        width: 30vw;
      }
    }
    #btn-video {
      display: none;
      position: absolute;
      top: 25dvh;
      left: 50%;
      transform: translateX(-50%);
      width: 4rem;
      mix-blend-mode: overlay;
      img {
        width: 100%;
        height: auto;
      }
      #pausa {
        display: none;
        width: 80%;
        opacity: .5;
      }
      @include cel {
        display: block;
      }
    }
  }
</style>

<script>
  const btnvideo = document.getElementById("btn-video");
  const video  = document.getElementById("video") as HTMLMediaElement;
  const pausa = document.getElementById("pausa");
  const play = document.getElementById("play");
  let clic = false;
  btnvideo.addEventListener("click", function (e) {
    e.preventDefault();
    if (!clic) {
      video.play();
      play.style.display = "none";
      pausa.style.display = "block";
      clic = true;
    } else {
      video.pause();
      play.style.display = "block";
      pausa.style.display = "none";
      clic = false;
    }
  });
</script>
